extends layout
block content
  body(onload='footer_info();')
    .page-wrap
      header.header
        .header_inner
          .navigation
            ul.navigation_inner
              li
                a(href='/') Home
              li(style='pointer-events: none;')
                a.active(href='game.html') Play Game
              li
                a(href='references.html') References used
              li
                a(href='howto.html') How To Play
              li
                a(href='about.html') About
              li 
                a(href='dynamic_test') DYNAMIC_TEST
              li 
                a(href='register') Register
              li 
                a(href='login') Login
      .main-content
      h3#testlog
        a(href='login') login
        .names
          p#move_names
          form(name='game_form')
            | Player 1 Name:  
            input#p1name(type='text')
            br
            | 					Player 2 Name:  
            input#p2name(type='text')
            br
            | 					Play versus: 
            select#opponent
              option(value='1') Computer
              option(value='0') Friend
            br
            input.button.button1(type='button', value='START GAME', onclick='start();')
          .score_table
            table.scores
              tr
                td
                  p#table_p1_name
                td
                  p#table_p2_name
              tr
                td
                  p#table_p1_score
                td
                  p#table_p2_score
        .game_board
          table#myTable
            // 1st ROW
            tr
              td
              td
              td
              td
              td
              td
              td
            // 2nd ROW
            tr
              td
              td
              td
              td
              td
              td
              td
            // 3rd ROW
            tr
              td
              td
              td
              td
              td
              td
              td
            // 4th ROW
            tr
              td
              td
              td
              td
              td
              td
              td
            // 5th ROW
            tr
              td
              td
              td
              td
              td
              td
              td
            tr
              td
              td
              td
              td
              td
              td
              td
        #chipcontainer.chips
    footer#fixed
      .footer_title
        h4  University of Western Australia
        h4#last_modified
        h4 Last visited: dd/mm/yyyy
